In [2]:
# Step 1: Install necessary packages
# !pip install pandas mysql-connector-python sqlalchemy

# Step 2: Establish a connection to MySQL
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

# MySQL connection configuration
config = {
    'user': 'root',
    'password': 'hpy.com',
    'host': '127.0.0.1',  # e.g., '127.0.0.1' or 'localhost'
    'database': 'masai',  # This can be any temporary name
}

# Connect to MySQL server
conn = mysql.connector.connect(
    user=config['user'],
    password=config['password'],
    host=config['host']
)

# Create a cursor object
cursor = conn.cursor()

# Step 3: Create the database
database_name = 'ecomm'
cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")

# Step 4: Connect to the newly created database using SQLAlchemy
engine = create_engine(f"mysql+mysqlconnector://{config['user']}:{config['password']}@{config['host']}/{database_name}")

# Load CSV files into DataFrames
files = ['Customers.csv', 'geolocation.csv', 'Orders_items.csv', 'Orders_Details.csv', 'Payments.csv', 'Product_category.csv', 'Products.csv', 'Review.csv', 'Sellers.csv']

dfs = {}

for file in files:
    df_name = file.split('.')[0]
    dfs[df_name] = pd.read_csv(file)

# Push DataFrames to MySQL
for df_name, df in dfs.items():
    df.to_sql(name=df_name, con=engine, if_exists='replace', index=False)
    print(f"{df_name} pushed to MySQL")

# Close the cursor and connection
cursor.close()
conn.close()

C:\Users\17nau\AppData\Local\Temp\ipykernel_11688\2463414952.py:45: UserWarning: The provided table name 'Customers' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=df_name, con=engine, if_exists='replace', index=False)

Customers pushed to MySQL
geolocation pushed to MySQL

C:\Users\17nau\AppData\Local\Temp\ipykernel_11688\2463414952.py:45: UserWarning: The provided table name 'Orders_items' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=df_name, con=engine, if_exists='replace', index=False)

Orders_items pushed to MySQL

C:\Users\17nau\AppData\Local\Temp\ipykernel_11688\2463414952.py:45: UserWarning: The provided table name 'Orders_Details' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=df_name, con=engine, if_exists='replace', index=False)

Orders_Details pushed to MySQL

C:\Users\17nau\AppData\Local\Temp\ipykernel_11688\2463414952.py:45: UserWarning: The provided table name 'Payments' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=df_name, con=engine, if_exists='replace', index=False)
C:\Users\17nau\AppData\Local\Temp\ipykernel_11688\2463414952.py:45: UserWarning: The provided table name 'Product_category' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=df_name, con=engine, if_exists='replace', index=False)

Payments pushed to MySQL
Product_category pushed to MySQL

C:\Users\17nau\AppData\Local\Temp\ipykernel_11688\2463414952.py:45: UserWarning: The provided table name 'Products' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=df_name, con=engine, if_exists='replace', index=False)

Products pushed to MySQL

C:\Users\17nau\AppData\Local\Temp\ipykernel_11688\2463414952.py:45: UserWarning: The provided table name 'Review' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=df_name, con=engine, if_exists='replace', index=False)

Review pushed to MySQL
Sellers pushed to MySQL

C:\Users\17nau\AppData\Local\Temp\ipykernel_11688\2463414952.py:45: UserWarning: The provided table name 'Sellers' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=df_name, con=engine, if_exists='replace', index=False)